<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <link rel="shortcut icon" href="/static/img/favicon.ico" >
      <title>39ma's Web Panel</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="/static/css/chosen.min.css">
      <link rel="stylesheet" href="/static/css/get5.css">
      <script src="/static/js/chosen.jquery.min.js"></script>

      <meta name="viewport" content = "width=device-width, initial-scale=1.0">
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div id="header">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
            		<span class="icon-bar"></span> 
      			</button>
            <a class="navbar-brand" href="/">39ma's Web Panel</a>
          </div>
	<div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a id="matches" href="/matches">All Matches</a></li>
            {% if user %}
            <li><a id="mymatches" href="/mymatches">My Matches</a></li>
            <li><a id="match_create" href="/match/create">Create a Match</a></li>
            <li><a id="myteams" href="/myteams">My Teams</a></li>
            <li><a id="team_create" href="/team/create">Create a Team</a></li>
            <li><a id="myservers" href="/myservers">My Servers</a></li>
            <li><a id="server_create" href="/server/create">Add a Server</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">  <img src="/static/img/login_small.png" height="18"/></a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
	</div>
    </div>


    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <div class="panel-footer text-muted">
      <p>
        Powered by <a href="http://vk.com/ye.agzam">39ma</a> -
        <a href="/metrics">Статистика</a>
      </p>
    </div>

  </body>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49074813-2', 'auto');
  ga('send', 'pageview');
  </script>

</html>
